<!-- []=> for input, ()=>output, for ngModel =>[()] since 2-way data binding -->
<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add task">
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Add day and time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Send Reminder?</label>
        <input type="checkbox" name="reminder" id="reminder"  [(ngModel)]="reminder">
    </div>
    <!-- {{text}} -->
    <input type="submit" value="Save Task" class="btn btn-block">
</form>